body {
	font-family: "Arial", sans-serif;
}


label { 
	padding-left:10px;
	display: inline-block; 
	width: 110px; 
	text-align: left; 
	font-size:18px;
	
}

body {
	background-color:#808080;
}

.wrapper {
	text-align:center;
}

.linething {
	background-color:#DC143C;
}

.form_outline {
	border:1px;
	border-style:solid;
	width:700px;
	display: inline-block;
	background-color:white;
	padding:10px;
	text-align:left;
	
}

.invis {
	float:right;
	background: transparent;
    border: none;
}